{% for note in notes %}
	<div>
		<h2 style='display: inline-block'> {{note.title}} </h2>
		<form class='delete_id' action='delete_form' method='POST' style='display: inline-block'>
			{% csrf_token %}
			<input type='hidden' value="{{note.id}}"  name="hid_id_form">
			<input type='submit' value='delete'>
		</form>
		<form class='texter' action='texter' method='POST' style='display: block'>
			{% csrf_token %}
			<input class='text_area' name='text_form' type="textarea" value="{{note.note}}">
			<input type='hidden' value="{{note.id}}"  name="hid_id_form2">	
		</form>
	</div>
	<hr>
{% endfor %}