<!DOCTYPE html>
<html>
<head>
	<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<h1>Notes</h1>
	<hr>
	<div id='placeholder'>
	</div>
	<form id='add_title_form' action='title' method='POST'>
		{% csrf_token %}
		<input type='text' name='title_form'>
		<input type='submit' value='Add note'>
	</form>
	<script>
		$('#add_title_form').submit(function(e){
			e.preventDefault();
			$.ajax({
			url:$(this).attr('action'),
			method: 'post',
			data: $(this).serialize(),
			success: function(serverResponse) {
	            $('#placeholder').html(serverResponse)
	        	}
			})
		})
		$(document).on('submit', '.delete_id', function(e){
			e.preventDefault();
			$.ajax({
			url:$(this).attr('action'),
			method: 'post',
			data: $(this).serialize(),
			success: function(serverResponse) {
		           $('#placeholder').html(serverResponse)
		        }
			})
		});
		$(document).on('submit', '.texter', function(e){
			e.preventDefault();
		});
		$(document).on('keyup', '.text_area', function(){	
			$.ajax({
			url:$(".texter").attr('action'),
			method: 'post',
			data: {
				csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
				textarea: $("input[name='text_form']").val(),
				id: $("input[name='hid_id_form2']").val()
			}
			});				
		});
	</script>
</body>
</html>